.container-width {
    max-width: 958px;
    margin: 0 auto;   
    position: relative; 
}

.banner {
    position: absolute;
    right: -272px;
    top: 5px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-right: 0;
    margin-left: 0;
}

.item {   
   display: flex!important;
   max-width: 33.333333%;
   width: 320px;
   
}

.item > a > .container__wrapper {
    display: block;
}

.item > a > .card_col_1, .item > a > .card-img-out {
    display: none;
}

.item.double .container__wrapper {
    display: none;
}

.item.double > a > .card_col_1, .item.double > a > .card-img-out {
    display: flex;
}

@media (max-width: 767px)
{
    .item { 
        width: 100%;
        max-width: 100%;       
    }
    .item a{ 
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .item.double > a > .container__wrapper {
        display: block;
    }
        
    .item.double > a > .card_col_1, .item.double > a > .card-img-out {
        display: none;
    }

    display: flex;
    flex-direction: column;
    margin-left: auto;
    overflow: hidden;
    
}

@media (min-width: 768px)
{

    .item.double { 
        width: 640px;
        max-width: 66.666666%
    }

    .item.double a {
        flex-direction: row-reverse!important;
        max-width: 640px!important;
    }

    .item.double > a > .card_col_1 {
        height: auto;
        width: 60%;
    }

    .item.double > a > .card-img-out {
        width: 40%;
        height: auto;
    }

    .item.double > a > .card-img-out > .item__gradient {
        position: absolute;
        right: 0;
        left: 100%;
        transition: all .5s ease;
        top: 0%;
        bottom: 0px;
        width: 100%;
    }
}   

.item > a {
    display: flex;
    flex-direction: column;
    max-width: 314px;
    border-radius: 4px;
    margin: 4px;
    max-height: 314px;
    width: 100%;
}

.container__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.container__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card_col_1 {
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: self-end;
}

.item__gradient {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    transition: all .5s ease;
    top: 50%;
    bottom: -2px;
}

.card-img-out {
    position: relative;
    height: auto;
    padding: 1.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 0px;
}

.card-img {
    object-fit: cover;
    height: 100%;
}

.card-title {
    font-size: 1.2rem;
    z-index: 10;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI";
}

/* VIEW CARD */
.view-card a.item{
	max-width: 644px!important;
	width: auto;
}
.view-card a.item .card_col_1 {
	height: 320px;
}
.view-card .card-img-out {
	height: 160px;
}

.view-card .item.news-place {
    display: flex !important;
    flex-direction: column;
    max-height: 314px;
}


@media (max-width: 767px)
{

    .card-des {

        margin: 22px;
    }
}

a.item:hover .card-img {
	opacity: .4;
	transition: opacity .1s ease-out;
}
a.item:hover  {
	text-decoration: none;
}

.items.right {
    flex-direction: column;
}

.items.right .item {
    max-width: 100%
}

.eucookie-pop-up { display:none; position:fixed; z-index:9999; bottom:0; left:0; right:0; background:black; color:#fff; margin:1em; padding:0.5em; text-align:center; } 
.eucookie-pop-up .dismiss { float:right; width:7% text-align:center; padding-top:1em; } 
.eucookie-pop-up .dismiss a { color:#fff; cursor:pointer; font-weight:bold; font-size:150%; padding:1em; } 
.eucookie-pop-up .content { float:left; width:92%;  text-align:center; display: flex; } 
.eucookie-pop-up .content a { text-decoration: underline;color:#fff; flex: 2 } 
.eucookie-pop-up .content button { flex: 1 } 


.info_block span {
    margin-right: 20px;
}

@media (max-width: 767px)
{
    .info_block {
        display: none;    
    }
}